/*.....nevigation style  place middle..............*/
div.owl-carousel.round div.owl-controls div.owl-buttons{
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 25px);
}
div.owl-carousel.round div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   background: #fff;
  opacity: 0.2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}
div.owl-carousel.round div.owl-controls div.owl-buttons div.owl-prev{
  float: left;
}
div.owl-carousel.round div.owl-controls div.owl-buttons div.owl-next{
  float: right;
}

/*.....nevigation style  place Top..............*/
/*.........round TopLeft owl-theme................*/
div.owl-carousel.roundTopLeft div.owl-controls div.owl-buttons {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
}
div.owl-carousel.roundTopLeft div.owl-controls div.owl-buttons div{
   width: 40px;
   height: 40px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
   border-radius: 50%;
}
div.owl-carousel.roundTopLeft div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 3px;
}
div.owl-carousel.roundTopLeft div.owl-controls div.owl-buttons div.owl-next{
   float: left;
}


/*.........round TopRight owl-theme................*/
div.owl-carousel.roundTopRight div.owl-controls div.owl-buttons {
  width: 100%;
  position: absolute;
  left: 92.9%;
  top: 0px;
}
div.owl-carousel.roundTopRight div.owl-controls div.owl-buttons div{
   width: 40px;
   height: 40px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
   border-radius: 50%;
}
div.owl-carousel.roundTopRight div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 3px;
}
div.owl-carousel.roundTopRight div.owl-controls div.owl-buttons div.owl-next{
   float: left;
}

/*.....nevigation style  place Bottom..............*/
/*.........round BottomCenter owl-theme................*/
div.owl-carousel.roundBottomCenter div.owl-controls div.owl-buttons {
bottom: 10px;
left: 50%;
margin-left: -50px;
position: absolute;
width: 100%;
}
div.owl-carousel.roundBottomCenter div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.roundBottomCenter div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
}
div.owl-carousel.roundBottomCenter div.owl-controls div.owl-buttons div.owl-next{
  float: left;
}


/*Round Bottom left*/
div.owl-carousel.roundBottomLeft div.owl-controls div.owl-buttons {
bottom:5px;
left: 0px;
position: absolute;
width: 100%;
}
div.owl-carousel.roundBottomLeft div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.roundBottomLeft div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 5px;
}
div.owl-carousel.roundBottomLeft div.owl-controls div.owl-buttons div.owl-next{
  float: left;
}
/*Roubd bottom Right*/
div.owl-carousel.roundBottomRight div.owl-controls div.owl-buttons {
bottom:5px;
left: 90.9%;
position: absolute;
width: 100%;
}
div.owl-carousel.roundBottomRight div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.roundBottomRight div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 5px;
}
div.owl-carousel.roundBottomRight div.owl-controls div.owl-buttons div.owl-next{
  float: left;
}


/*..................................
...nevigation style  place middle..............*/

/*Square owl theme*/
/*.....nevigation style  place middle..............*/
div.owl-carousel.square div.owl-controls div.owl-buttons{
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 23px);
}
div.owl-carousel.square div.owl-controls div.owl-buttons div {
  align-items: center;
  background: #fff none repeat scroll 0 0;
  color: #ffbe00;
  display: flex;
  flex-direction: column;
  font-size: 37px;
  height: 45px;
  justify-content: center;
  opacity: 0.63;
  width: 29px;
}
div.owl-carousel.square div.owl-controls div.owl-buttons div.owl-prev{
  float: left;
}
div.owl-carousel.square div.owl-controls div.owl-buttons div.owl-next{
  float: right;
}

/*.....nevigation style  place Top..............*/
/*.........Square TopLeft owl-theme................*/
div.owl-carousel.squareTopLeft div.owl-controls div.owl-buttons {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0px;
}
div.owl-carousel.squareTopLeft div.owl-controls div.owl-buttons div{
   width: 40px;
   height: 40px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.squareTopLeft div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 3px;
}
div.owl-carousel.squareTopLeft div.owl-controls div.owl-buttons div.owl-next{
   float: left;
}


/*.........Square TopRight owl-theme................*/
div.owl-carousel.squareTopRight div.owl-controls div.owl-buttons {
  width: 100%;
  position: absolute;
  left: 92.9%;
  top: 0px;
}
div.owl-carousel.squareTopRight div.owl-controls div.owl-buttons div{
   width: 40px;
   height: 40px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.squareTopRight div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 3px;
}
div.owl-carousel.squareTopRight div.owl-controls div.owl-buttons div.owl-next{
   float: left;
}

/*.....nevigation style  place Bottom..............*/
/*.........Square BottomCenter owl-theme................*/
div.owl-carousel.squareBottomCenter div.owl-controls div.owl-buttons {
bottom:5px;
left: 50%;
margin-left: -50px;
position: absolute;
width: 100%;
}
div.owl-carousel.squareBottomCenter div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.squareBottomCenter div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 12px;
}
div.owl-carousel.squareBottomCenter div.owl-controls div.owl-buttons div.owl-next{
  float: left;
}


/*Square Bottom left*/
div.owl-carousel.squareBottomLeft div.owl-controls div.owl-buttons {
bottom:5px;
left: 0px;
position: absolute;
width: 100%;
}
div.owl-carousel.squareBottomLeft div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.squareBottomLeft div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 5px;
}
div.owl-carousel.squareBottomLeft div.owl-controls div.owl-buttons div.owl-next{
  float: left;
}
/*Square bottom Right*/
div.owl-carousel.squareBottomRight div.owl-controls div.owl-buttons {
bottom:5px;
left: 90.9%;
position: absolute;
width: 100%;
}
div.owl-carousel.squareBottomRight div.owl-controls div.owl-buttons div{
   width: 50px;
   height: 50px;
   font-size: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
}
div.owl-carousel.squareBottomRight div.owl-controls div.owl-buttons div.owl-prev{
   float: left;
   margin-right: 5px;
}
div.owl-carousel.squareBottomRight div.owl-controls div.owl-buttons div.owl-next{
  float: left;
}

 
/*.............Pagination owl theme style.....................*/
/*.........pagination round owl theme..........................*/

div.owl-carousel.pagi_round div.owl-controls div.owl-pagination {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 27px;
}
div.owl-carousel.pagi_round div.owl-controls div.owl-pagination div.owl-page {
  display: inline-block;
}
div.owl-carousel.pagi_round div.owl-controls div.owl-pagination div.owl-page span {
  border: 1px solid #fff;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 7px;
  width: 10px;
}
div.owl-carousel.pagi_round div.owl-controls div.owl-pagination div.owl-page:hover span,div.owl-carousel.pagi_round div.owl-controls div.owl-pagination div.owl-page.active span{
  background: #fff;
  transition: .4s;
}


/*..............pagination square owl theme.................*/

div.owl-carousel.pagi_square div.owl-controls div.owl-pagination {
  width: 100%;
  text-align: center;
}
div.owl-carousel.pagi_square div.owl-controls div.owl-pagination div.owl-page {
  display: inline-block;
}
div.owl-carousel.pagi_square div.owl-controls div.owl-pagination div.owl-page span {
  background: #fff none repeat scroll 0 0;
  height: 15px;
  margin: 7px;
  width: 15px;
  display: block;
}
div.owl-carousel.pagi_square div.owl-controls div.owl-pagination div.owl-page:hover span,div.owl-carousel.pagi_square div.owl-controls div.owl-pagination div.owl-page.active span{
  background: #2B71A2;
  transition: .4s;
}


/*.............pagination square left................*/
div.owl-carousel.pagi_squareLeft div.owl-controls div.owl-pagination {
  left: -7px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
}
div.owl-carousel.pagi_squareLeft div.owl-controls div.owl-pagination div.owl-page span {
  background: #491D6C none repeat scroll 0 0;
  height: 15px;
  margin: 7px;
  width: 15px;
  display: block;
}
div.owl-carousel.pagi_squareLeft div.owl-controls div.owl-pagination div.owl-page:hover span,div.owl-carousel.pagi_squareLeft div.owl-controls div.owl-pagination div.owl-page.active span{
  background: #2B71A2;
  transition: .4s;
}

