*{
	margin: 0px;
	padding:0px;
}
body{
    font-family: caudex;
}
img{max-width: 100%; max-height: 100%; min-width: 100%;}
ul{list-style: none; margin: 0px;}
h1,h2,h3,h4,h5{padding: 0px; margin:0px;}
a{text-decoration: none!important; display: block;}
p{margin: 0px;}
h1, h2, h3, h4 {
  background: rgba(0, 0, 0, 0) url("../images/bgimage/heading-line.gif") repeat-x scroll center center;
  color: #222;
  font-family: "Vollkorn:400italic";
  font-style: italic;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
}
h1 span, h2 span, h3 span, h4 span {
  background: rgba(0, 0, 0, 0) url("../images/bgimage/content_bg.jpg") repeat scroll 0 0;
  display: inline-block;
  padding: 0 25px;
  text-transform: capitalize;
}
.tag_sty h3 {background: rgba(0,0,0,0);}
.tex_align{
  text-align: center;
}
.mar_b{
margin-bottom:40px;
}
.background{
  background: url(../images/bgimage/Body_BackgroundImage.jpg) repeat fixed;
}
/*.............Style header area start heare..............*/
.margin {
	margin: 40px 6%;
}
/*...........Style for slider area start heare..............*/
.owl-item > img {
  width: 100%;
  height: auto;
}

.row.header_area {
  margin: 0;
  max-height: 470px;
  padding: 0;
  width: 100%;
  position: relative;
}

.menu_area {
  background: rgba(0, 0, 0, 0) url("../images/bgimage/menu_bg.jpg") repeat scroll 0 0;
  border-radius: 2px;
  bottom: -27px;
  height: 50px;
  left: 13%;
  position: absolute;
  width: 73%;
  z-index: 1;
}
.logo {
  position: absolute;
  top: 0;
  z-index: 1;
}
.logo > img {
  float: left;
}
.logo_title {
  color: #fdbf10;
  font-family: caption;
  font-size: 21px;
  font-weight: 900;
  line-height: 27px;
}
.menu ul {
  opacity: 0.8;
  text-align: center;
}
.menu ul li{
margin-left: 10px; 
display: inline-block;
position: relative;
}
.menu ul li:first-child{
  margin-left: 0px; 
}
.menu ul li a {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  padding: 0 3%;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
}
.menu ul li a:hover{
  color: #DF6226;
  transition: .4s;

}
.menu ul li ul {
  background: #000 none repeat scroll 0 0;
  min-width: 100%;
  position: absolute;
  top: 50px;
  visibility: hidden;
}
.menu ul li:hover ul{
  visibility: visible;
  transition: .5s;
  z-index: 1;
}
.menu ul li ul li {
  display: block;
  border-bottom: 1px solid#111;
}
.menu ul li ul li a{
  display: block;
}

/*...........End Style for header area ..............*/


.booking {
  background: #fbfcf4 none repeat scroll 0 0;
  border: 1px solid #eeeeee;
  box-shadow: 6px 6px 7px #cfcfcf;
  margin-bottom: 19px;
  min-height: 264px;
  padding: 10px;
  text-align: center;
}
.booking i {
  font-size: 17px;
  margin-right: 10px;
}
.booking h5 {
  line-height: 28px;
}
.booking h5 span{
  font-weight: bold;
}
.tbl_design{width: 100%;}
.tbl_design td{
  padding: 8px 0px;
}
.tbl_design label {
  font-size: 13px;
  width: 80px;
}
.tbl_design td input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 2px;
}
.tbl_design select {
  padding: 5px;
  width: 100%;
}
.booking_btn {
  text-shadow: 0 1px #555;
  background: #BB7C31 none repeat scroll 0 0;
  border: medium none;
  border-radius: 1px;
  padding: 6px 15px;
  text-transform: capitalize;
  color: #fff;
  box-shadow: 2px 3px 3px #a2a2a2;
}

/*...........End Style for slider area..............*/

/*.............Style main content area start heare.................*/
.main_content_area {
  position: relative;
  background: rgba(0, 0, 0, 0) url("../images/bgimage/content_bg.jpg") repeat scroll 0 0;
  padding: 80px 40px 40px;
}
.content {
  padding: 0 57px 30px;
  text-align: center;
}.content p {
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
}
.row.btn{
  margin-top: 25px;
}
.btn1, .btn2 {
  background: #bb7c31 none repeat scroll 0 0;
  border-radius: 1px;
  box-shadow: 2px 3px 3px #a2a2a2;
  color: #fff;
  padding: 4px 18px;
  text-shadow: 0 1px #555;
}
.feture_img img {
  height: auto;
  margin-bottom: 26px;
  width: 100%;
}
.img_area{
  position: relative;
}
.img_area:hover .overlay{
  visibility: visible;
  transition: .7s;
}
.overlay {
  background: #000000 none repeat scroll 0 0;
  height: calc(100% - 26px);
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  transition: .3s;
}
.overlay i{
  color: #eeeeee;
  font-size: 30px;
  display: block;
}
.feture_content{
  text-align: center;
  padding:10px 0px;
}
/*...........End Style for main content area..............*/

/*.............Style footer area start heare.................*/
.footer_area {
  background: #333333 none repeat scroll 0 0;
  padding: 10px;
  color: #fff;
  min-height: 50px;
  text-align: center;
}
.copyright span {
  font-size: 15px;
}
.copyright span i{
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}
.copyright a{
 display: inline-block;
}


/*.............End Style for footer area.................*/

/*================Style for Rooms page==================*/
.pa.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
  padding: 1%;
}
.feture_img h3 {
  background: rgba(0,0,0,0);
}
.space {
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px 0px;
}
.room_btn {
  text-align: center;
}
.room_btn > li {
  display: inline-block;
  margin-right: 20px;
}
.room_btn > li:last-child{
  margin-right: 0px;
}
.room_btn a {
  background: #c28032 none repeat scroll 0 0;
  border-radius: 1px;
  color: #fff;
  font-weight: bold;
  padding: 5px 20px;
  text-transform: capitalize;
}


/*==================LOcation page====================*/
.location_img{
  margin-bottom: 30px;
}
.location_img > img {
  height: 165px;
}
.hotel_map iframe{
  margin-bottom: 30px;
}
.hotel_direction{
  margin-bottom: 35px;
}
.hotel_direction select {
  padding: 5px 32% 5px 5px;
}
select#first {
  margin-right: 19%;
}
.hotel_direction input[type="submit"] {
  background: #c68a1d none repeat scroll 0 0;
  border: medium none;
  border-radius: 1px;
  margin-top: 31px;
  padding: 4px 10px;
}

/*=============Contact us======================*/
.contact_f.boo_f span {
  padding-left: 0;
}
.per_info_tbl,.res_info_tbl,.contact_tbl{
  width: 100%;
}
.per_info_tbl label,.res_info_tbl label,.contact_tbl label {
  font-size: 15px;
  font-weight: normal;
}
.per_info_tbl td,.res_info_tbl td,.contact_tbl td {
  padding: 11px 0px;
  width: 120px;
}
.per_info_tbl select,.res_info_tbl select,.per_info_tbl input,.res_info_tbl input,.contact_tbl input {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px 0;
  width: 70%;
}
.per_info_tbl textarea,.res_info_tbl textarea{
  padding: 3px 0px;
  border:1px solid#ddd;
  border-radius: 2px;
  width: 70%; 
}
.contact_tbl textarea{
  width: 100%;
  padding: 3px 0px;
  border:1px solid#ddd;
  border-radius: 2px;
}
.per_info_tbl #submit,.res_info_tbl  #submit,.contact_tbl #submit{
  background: #c68a1d none repeat scroll 0 0;
  border: medium none;
  border-radius: 2px;
  margin-top: 15px;
  padding: 4px 10px;
  width: 80px;
  color: #eee;
  text-shadow: 0 1px #555;  
  font-weight: bold;
  font-size: 16px;
}
.con_address {
  font-size: 15px;
  padding-top: 58px;
}
.con_address ul{
  list-style: square;
padding-left: 15px;}
/*============= booking page============*/
.blank_space { width: 100%; min-height: 50px; }
.row.booking_date{padding-top: 0px;}
.row.booking_date h3, .row.room_info h3 {
  background: #cda02d none repeat scroll 0 0;
  border: 1px solid #a67916;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
}
.booking_date input {
  margin-right: 5%;
}
.booking_date.input_field-1{
  margin-right: 10px;
}
.booking_date.input_field-2{
 margin-right: 10px;
}
.border {
  border: 1px solid#C68A1D;
  padding: 3px;
}
.mar_right{ margin-right: 10 px; }

.row.select_room {
  padding: 10px;
  max-height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.row.select_room img {
  max-height: 180px;
}


/*,,,,,,,,,,,DATE PIKER DESIGN,,,,,,,,,,,,,,,,,,*/
.ui-icon.ui-icon-circle-triangle-e {
  background: #a7a7a7 none repeat scroll 0 0;
  border-radius: 67px 5px 0 0;
  transform: rotate(-51deg);
}
.ui-icon.ui-icon-circle-triangle-w {
  background: #a7a7a7 none repeat scroll 0 0;
  border-radius: 0 0 30px;
  transform: rotate(-42deg);
}